@import "./Components/Navigation.scss";
@import "./Components/Login.scss";
@import "./Components/Pages/Profile.scss";
@import "./Components/card.scss";


@import url('https://rsms.me/inter/inter.css');

:root{
    font-size: 62.5%;
}

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    margin: 0; 
    padding: 0;
}

body{
    background: #ECF1FA;
    font-size: 1.6rem;
    font-family: 'Inter', sans-serif; 
    overflow: hidden;
}

a{
    text-decoration: none;
    color: inherit;
}

.container{
    height: calc(100vh - 5rem);
    margin: auto;
    padding: 1rem;
    overflow-y: auto;
}

h1{
    font-size: 1.4rem;
    margin-bottom: 1rem;
    color:#181461; 
}
